<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Cotton Agroscience</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.ico" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio - v3.7.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="/home">Alex Smith</a></h1>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
                <li><a href="/home" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="/farmers/myData" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Meus Dados</span></a></li>
                <li><a href="#" class="nav-link scrollto active"><i class="bx bx-file-blank"></i> <span>Minhas safras</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="breadcrumbs" class="breadcrumbs">
        <table class="table table-dark align-content-center">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Inicio da safra</th>
                <th>Fim da safra</th>
                <th>Tempo de safra</th>
                <th>Tipo de solo</th>
                <th>Destino</th>
                <th>Tamanho em Hectare</th>
                <th>Período</th>
                <th>Endereço</th>
                <th>Fertilizantes</th>
                <th>Pesticidas</th>
                <th>Preço por Saca</th>
                <th>Sacas</th>
                <th>Margem de lucro</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="h : ${harvests}">
                <td th:text="${h.id}">1</td>
                <td th:text="${h.name}"></td>
                <td th:text="${h.type}"></td>
                <td th:text="${h.harvestBeginning}"></td>
                <td th:text="${h.harvestEnding}"></td>
                <td th:text="${h.harvestTime}"></td>
                <td th:text="${h.groundType}"></td>
                <td th:text="${h.destination}"></td>
                <td th:text="${h.harvestHectare}"></td>
                <td th:text="${h.period}"></td>
                <td th:text="${h.address}"></td>
                <td th:text="${h.fertilizers}"></td>
                <td th:text="${h.pesticides}"></td>
                <td th:text="${h.priceForEachBag}"></td>
                <td th:text="${h.bagQuantity}"></td>
                <td th:text="${h.profitMargin}"></td>
                <td colspan="2">
                    <a class="btn btn-info btn-sm" th:href="@{/harvests/update/{id} (id=${h.id})}" role="button">
                        <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                    </a>
                    <button th:id="${'btn_harvests/delete/'+h.id}" type="button"
                            class="btn btn-danger btn-sm"
                            data-toggle="modal" data-target="#myModal">
                        <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
</section>

<main id="main">

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy;<span>CottonAgroscience</span>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/purecounter/purecounter.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/typed.js/typed.min.js"></script>
    <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
</main>
</body>

</html>